In [1]:
a=5
print(a)

5

In [3]:
a=10
print(a)

10

# welcome

## welcome
### to vasavi 
### engineering
#### college

###### tadepalligudem

**apssdc** #bold conversion  
*apssdc* #italic conversion  
***apssdc&vasavi***

+ one  
- two  
+ three  
* four  
    + five  
    - six  
    * seven  
        + eight  
        - nine
        * zero

## order list and sub list
1.

### comments
- user readable information or data  
- comment doesnot execute  
- it is mentioned in '#'  
- for multiple line comment mention in the formationj of ''' '''

### variable
- which is used to starting data  
- variable starts with characters,underscore  
- variable couldnot start with numbers,special symbols,keywords

In [4]:
p=67
p

67

In [8]:
a="anil kumar"
a

'anil kumar'

In [9]:
a='anil kumar'
a

'anil kumar'

### DATATYPES
- int(all integers values)  
- float(integer with decimal point)      
- str(combination of characters or group of characters)  
- complex(number with real and imaginary part)    
- boolean(true,false)

In [12]:
a=506
b=5.06
c="apssdc"
d='p'
e=1+2j
f='1+2j'
g=True

In [13]:
print(type(a))  
print(type(b))  
print(type(c))  
print(type(d))  
print(type(e))  
print(type(f))  
print(type(g))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'complex'>
<class 'str'>
<class 'bool'>

### Typecasting
- which converts the data from one datatype to another datatype

In [14]:
_abc=456
print(type(_abc))

<class 'int'>

In [17]:
z=str(_abc)
print(type(z))  
print(z)

<class 'str'>
456

In [18]:
z=complex(_abc)
print(type(z))
print(z)

<class 'complex'>
(456+0j)

In [19]:
abc="vasavi college"
print(type(_abc))

<class 'int'>

In [20]:
abc="12334453"
z=int(abc)
print(type(z))
print(z)

<class 'int'>
12334453

In [21]:
z=float(abc)
print(type(z))
print(z)

<class 'float'>
12334453.0

In [22]:
z=complex(abc)
print(type(z))
print(z)

<class 'complex'>
(12334453+0j)